

<div class="sidebar" id="lib-sidebar">
    <button class="btn-primary reload-btn" onclick="mod_editor_reload_dir()">Reload</button>
    <div id="sidebar-content" class="sidebar-content">


    </div>
</div>

{#{% include "components/library_view/sidebar_logic.html" %}#}



<script>
    let mod_editor_sidebar = null;

    let mod_editor_sidebar_content = null;



    $(document).ready(()=>{
        mod_editor_sidebar = new Sidebar('lib-sidebar', 'content-field');

        mod_editor_sidebar_content = $('#sidebar-content');
        mod_editor_reload_dir();
    });

    function mod_editor_reload_dir(){
        mod_editor_sidebar_content.text("Loading...")

        mod_editor_sidebar_content.load("/panes/mod_editor/extract_dir_listing");
        {#mod_editor_sidebar_dir_list.load("/panes/cdb_listing");#}
    }


</script>



