<div id="current-save-slots" class="current-save-slots">
    <button class="btn-primary reload-btn" onclick="load_current_saves_list()">Reload</button>
    <div id="current-save-slots-list">
    </div>
</div>
<div id="current-save-slot-backups" class="current-save-slot-backups">
{#    <div id="current-save-slot-backups-header"></div>#}
    {#    <table id="save-slot-backups-list" class="save-slot-backups-list">#}
    <table id="save-slot-backups-list" class="save-slot-backups-list table">



    </table>
</div>

<script>
    let save_view_selected_current_slot = 0;
    let save_view_current_save_slot_area = $('#current-save-slots-list');
    let save_view_save_slot_backup_list_area = $('#save-slot-backups-list');

    function load_current_saves_list() {
        save_view_current_save_slot_area.load("/panes/save_view/current_saves_list", {}, function (status) {
            save_view_update_slot_buttons();
        });

    }

    function save_view_select_current_slot(slot) {
        save_view_selected_current_slot = slot;
        save_view_update_slot_buttons();
    }

    async function save_view_update_slot_buttons() {
        let saves_found = await py.saves.list_current_saves_found();

        for(let i = 0; i < saves_found.length; i++) {
            let slot = saves_found[i];

            let slotbutton = save_view_current_save_slot_area.children(`[data-slot-num=${slot}]`);
            {#let slotbutton = $(`[data-slot-num=${slot}]`);#}
            {#let slotbutton = $(`#current-save-slot-${slot}`);#}

            if (slot === save_view_selected_current_slot) {
                slotbutton.addClass('active-current-save-slot');

            } else {
                slotbutton.removeClass('active-current-save-slot');
            }
            {#console.log(slotbutton.html());#}

        }
        save_view_load_backup_saves_list();
    }

    function save_view_load_backup_saves_list() {
        save_view_save_slot_backup_list_area.load(
            "/panes/save_view/backup_saves_list",
            {slot: save_view_selected_current_slot},
            function (status) {
                time_data.update_all_display_time_ago();
            });
    }


    function save_view_on_load_save(path) {
        py.saves.load_past_save_file(save_view_selected_current_slot, path);
    }

    window.addEventListener('pywebviewready', function() {
        load_current_saves_list();
    });



</script>