<pre id="python-console-display-area" class="python-console"></pre>
<script>

    async function update_stdout() {
        {#let out_text = await py.std.get_stdout();#}
        {#let out_text = window.std_handler__main_stdout;#}
        let out_text = window.std_handler__main_stdout_as_html;
        $('#python-console-display-area').html(out_text);

        setTimeout(update_stdout, 250);
    }


    window.addEventListener('pywebviewready', function() {
        update_stdout();
    });

</script>